.h1 {
  color: white;
  font-size: clamp(30px, -0.097rem + 4.1vw, 60px);
  font-weight: 800;
  line-height: clamp(35px, 0.215rem + 4.1vw, 65px);
  font-family: sans-serif;
}

@media (max-width: 768px) {
  .h1 {
    text-align: center;
    font-size: clamp(25px, 0.446rem + 5.58vw, 50px);
    line-height: clamp(30px, 0.759rem + 5.58vw, 55px); 
  }
}
