* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 20px;
}

body {
  background: #0e0e2c;
  font-family: sans-serif;
}
button {
  cursor: pointer;
}
